$font-l:64px;
$font-m:24px;
$font-s:20px;

$lh-m:1.5;
$lh-l:42px;

.title1{
    font-size: 80px;
    line-height: 106px;
    font-weight: 900;  
}
.title2{
    font-size: 64px;
    line-height:84px;
    font-weight: 500;
}
.font1-b{
    font-size: $font-m;
    line-height: $lh-l;
    font-weight: bold;
}
.font1{
    font-size: $font-m;
    line-height: $lh-m;
    font-weight: 500;
}
.font2-b{
    font-size: $font-m;
    line-height: $lh-m;
    font-weight: bold;
}
.font2{
    font-size: $font-m;
    line-height: $lh-m;
    font-weight: 500;
}
.font3{
    font-size: $font-s;
    line-height: $lh-m;
    font-weight: 500;
}
.font4{
    font-size: $font-s;
    line-height: $lh-l;
    font-weight: 500;
}